.portfolio-list-img {
    @media screen and (max-width: 479px) {
        max-width: 100%;
        height: auto;

    }
}

.portfolio-list {
    @media screen and (max-width: 479px) {
        max-width: 100%;
        height: auto;

    }
}

.portfolio__container {
    @media screen and (max-width: 479px) {
        width: 100%;
        height: auto;
        }
}


// 0px-767px


    .portfolio {
        
        padding-bottom: 60px;
        }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    
    .portfolio-list-btn:not(:last-child) {
        margin-right: 8px;

        &:nth-child(-n+3) {
            margin-bottom: 15px;
        }
    }

    .portfolio-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        background: #f5f4fa;
        color: #212121;
        cursor: pointer;
        border: none;
        padding: 6px 22px;
        border-radius: 4px;
          
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
            letter-spacing: 0.03em;
            background-color: #2196f3;
            color: #ffffff;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
            
    }

    .portfolio-title3 {
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
        color: #212121;
    }

    .portfolio-list-iteam:not(:last-child) {
        margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    .portfolio-list-text {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 20px;
    }
    .portfolio-link {
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }


.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0);
    }
}

.overlay-content {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}


// 768px +

@media screen and (min-width: 768px) {
    .portfolio-list {
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    .portfolio-list-pic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        &-iteam {
            flex-basis: calc((100% - 30px) / 2);
        }

        &:nth-child(2n+1) {
            margin-right: 30px;
        }
    }
}


    // 1200+

    @media screen and (min-width: 1200px) {
        .portfolio-list {
            margin-bottom: 50px;
        }
        .portfolio {
            padding-bottom: 94px;
        }

        .portfolio-list-iteam:nth-child(-n+6) {
            margin-bottom: 30px;
        }

    }

    // .team-list__iteam:not(:last-child(-n+2)) {
    //     margin-bottom: 30px;
    // }
    // }




// .portfolio-list-pic {
//     display: block;
// margin-right: auto;
// margin-left: auto;
// }

// .portfolio-list-iteam {
// //    margin-right: auto;
// //    margin-left: auto;
//     cursor: pointer;

//     &:nth-child(3n) {
//         margin-right: 0;
//     }

//     .portfolio-list-iteam:nth-last-child(-n + 3) {
//         margin-bottom: 0;
//     }
// }



// .portfolio-title {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;
// }

// .portfolio-list {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 50px;
// }

// .portfolio-list-btn:not(:last-child) {
//     margin-right: 8px;
// }

// .portfolio-btn {
//     font-family: inherit;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.6;
//     text-align: center;
//     letter-spacing: 0.03em;
//     background: #f5f4fa;
//     color: #212121;
//     cursor: pointer;
//     border: none;
//     padding: 6px 22px;
//     border-radius: 4px;

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 1.6;
//         text-align: center;
//         letter-spacing: 0.03em;
//         background-color: #2196f3;
//         color: #ffffff;
//         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//             0px 2px 2px rgba(0, 0, 0, 0.12);
//     }

// }


// .portfolio-list-pic {
//     display: flex;
//     flex-wrap: wrap;
// }

// .portfolio-link {
//     display: block;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


//     &:hover,
//     &:focus {
//         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//             1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
// }

// .portfolio-list-iteam {
//     width: 370px;
//     margin-right: 30px;
//     margin-bottom: 30px;
//     cursor: pointer;

//     &:nth-child(3n) {
//         margin-right: 0;
//     }

//     .portfolio-list-iteam:nth-last-child(-n + 3) {
//         margin-bottom: 0;
//     }
// }


// .portfolio-sing {
//     padding: 20px 24px;
//     border: 1px solid #eeeeee;
//     border-top: none;
//     box-sizing: border-box;
// }

// .portfolio-title3 {
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     margin-bottom: 4px;
//     color: #212121;
// }

// .portfolio-list-text {
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.03em;
//     color: #757575;
// }

// .portfolio-overlay {
//     position: relative;
//     overflow: hidden;
// }

// .overlay-text {
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding: 63px 24px;
//     width: 100%;
//     background-color: rgba(33, 150, 243, 0.9);
//     transform: translateY(100%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .portfolio-link:hover &,
//     .portfolio-link:focus & {
//         transform: translateY(0);
//     }
// }

// .overlay-content {
//     font-size: 18px;
//     line-height: 1.56;
//     letter-spacing: 0.03em;
//     color: #ffffff;
// }