// html {
//     box-sizing: border-box;
// }

// *,
// *::before,
// *::after {
//     box-sizing: inherit;
// }


// body {
//     font-family: var(--primary-font-family);
//     color: #212121;
// }

// h1,
// h2,
// h3,
// p,
// a {
//     margin-top: 0;
//     margin-bottom: 0;
// }

// ul {
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-left: 0;
// }

// img {
//     display: block;
// }

// .link {
//     text-decoration: none;
// }

// .title2 {
//     font-weight: bold;
//     font-size: 36px;
//     line-height: 1.17;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: #212121;
// }

// .list {
//     list-style: none;
// }